* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bold;
}

.div-cabecalho {
    text-align: center;
    color: #000000;
}

.dark-mode-toggle {
    cursor: pointer;
}

.dark-mode-toggle:hover {
    filter: invert(1);
    border-radius: 30px;
    background-color: #FDFCDC;
}

.navbar {
    display: flex;
    align-items: center;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #FDFCDC;
}

p {
    color: #FDFCDC;
}

h4 {
    color: #FDFCDC;
}
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-1 {
    flex-basis: 50%;
    min-width: 300px;
    text-align: center;
}

.col-2 {
    padding-top: 20px;
    flex-basis: 50%;
    min-width: 300px;
    text-align: center;
    padding-bottom: 15px;
}

.header {
    background: radial-gradient(#EFE6DD, #00AFB9);
}

/* footer  */
.footer {
    background: #000;
    color: #EFE6DD;
    font-size: 14px;
    padding: 0px 0 20px;
}

.row-1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer p {
    color: #EFE6DD;
}

.footer a {
    color: #EFE6DD;
}

.footer h3 {
    color: #FDFCDC;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    padding-top: 10px;
    flex-basis: 30%;
}

.footer-col-2 {
    flex-basis: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, footer-col-4 {
    flex-basis: 10%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.footer hr {
    border: none;
    background: #FDFCDC;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

/* otimização para mobile */
.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

@media(max-width: 800px){
    nav ul {
        position: absolute;
        top: 150px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    nav ul li a{
        color: #FDFCDC;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

@media(max-width: 600px){
    .row {
        text-align: center;
    }

    .col-2 {
        flex-basis: 100%;
    }
}

/* dark mode configuration */
.darkmode  {
    filter: invert(1) hue-rotate(180deg)
}

