* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.mdl-textfield__label {
    color: #FDFCDC;
    font-size: 20px;
    font-weight: bold;
}

.header {
    padding-top: 10%;
    height: 100%;
    background: radial-gradient(#EFE6DD, #00AFB9);
}

.mdl-layout {
    align-items: center;
    justify-content: center;
}

.mdl-layout__content {
    padding: 24px;
    flex: none;
}

.mdl-button {
    background-color: #0081a7;
    color: #FDFCDC;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

/* dark mode configuration */
.darkmode {
    filter: invert(1) hue-rotate(180deg)
}